html, body {
    margin: 0;
    padding: 0;
    /*reset css*/
}

header {
    text-align: center;
    background: url(stars.jpg);
    background-size: 100%;
    color: whitesmoke;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    background: rgb(29, 23, 85);
    color: antiquewhite;
    padding: 5px;
    text-align: center;
}

ul {
    padding: 0;
    font-family: ;
}

li {
    display: inline;
    margin: 20px;
}

li:hover {
    color: chartreuse;
}

main {
    padding: 20px;
}

article {
    width: 300px;
    height: 300px;
    background-color: olivedrab;
    margin: auto;
}

.icon {
    font-size: 30px;
    color: olivedrab;
}

.icon:hover {
    color: black;
    box-shadow: 4px 4px black;
}

a {
    color: antiquewhite;
    text-decoration: none;
}