<main>
body {
background-image: url(https://wallpaperaccess.com/full/404688.jpg);
}

a {
    color:aliceblue;
    font-family:Calibri;
    position:relative;
    left: 1250px;
    top: 290px;
    font-size: 8px;
}

img {
    position:relative;
    left: 1200px;
    top: 580px;
    scale: 40%;
}
=======
p{
    color: rgb(243, 101, 0);
}

/* https://flukeout.github.io/ */
/* https://discord.gg/6sVHz3Xe */
/* w3school discord server */
</main>
